<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if  request.user.is_authenticated %}
    <h1>{{ request.user.username }}</h1>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'change_password' %}">Change Password</a>
    <a href="{% url 'settings' request.user.id %}">Settings</a>
    <a href="{% url 'createteam' %}">Create Team</a>
    <a href="{% url 'myteams' %}">My Teams</a>
{% else %}
    <h1>NOT LOGINNED</h1>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}

</body>
</html>